<!--  наследуемся от шаблона base.html -->
{% extends 'layout/base.html' %}
{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->
<!-- Название у нас будет news -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    <h1>Все новости</h1>
    {% if news %} 
    <!-- Выводим новости (статьи) только если они есть с помощью тега if -->
        <table>
            <tr>
                <td>
                    <h2>Название</h2>
                </td>
                <td>
                    <h2>Описание</h2>
                </td>
                <td>
                    <h2>Дата</h2>
                </td>
            
            </tr>
        {% for n in news %} 
            <tr>
                <td>
                    <h3>{{ n.name|censor }}</h3>
                </td>
                <td>
                    <h3>{{ n.description|truncatechars:50 }} </h3>
                </td>   
                <td>
                    <p> {{ time_now|date:'d.m.Y h:m' }} </p>
                </td>                         
            </tr>
        {% endfor %}    
        </table>       

    {% else %} 
<!-- Если новостей нет, то сообщаем об этом пользователю  -->        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}