

<style type="text/css">
    TABLE {
        background: rgb(255, 255, 255); /* Цвет фона таблицы */
        border: 5px double #ffffff; /* Рамка вокруг таблицы */
        color: white;
        width: 100%; /* Ширина таблицы */
        border: 1px solid rgb(255, 255, 255); /* Граница вокруг таблицы */
        border-spacing: 7px 5px; /* Расстояние между границ */
        padding: 10px;
    }
    TD, TH {
        
        border: 30px solid rgba(255, 255, 255, 0.1); /* Граница вокруг ячеек */
        padding: 5px; /* Поля в ячейках */      
    }
    h2, h1 {
        text-align: center; /* Выравнивание по центру */
    }
   </style>

{% extends 'flatpages/default.html' %}

{% load custom_filters %}
 
{% block title %}
News
{% endblock title %}
 
{% block content %}
   
    <h1>Все новости</h1>
    <hr>
    <font color="white">
    {% if news %}
        <table>
            <tr>
                <td>
                    <h2>Название</h2>
                </td>               
                <td>
                    <h2>Описание</h2>
                </td>
                <td>
                    <h2>Дата</h2>
                </td>   
            </tr>
        {% for n in news %} 
            <tr>
                <td>
                    <h3>{{ n.name|censor }}</h3>
                </td>
                <td>
                    <h3>{{ n.description|truncatechars:50 }} </h3>
                </td>   
                <td>
                    <p> {{ time_now|date:'d.m.Y h:m' }} </p>
                </td>                         
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Товаров нет!</h2>
    {% endif %}
    </font>
{% endblock content %}